/*  your css code here. If applicable */
#t21{
	column-span:6;
}
#head{
	text-align:center;
}
#table-1{
	width:100%;
}
#table-3{
 width:100%;
	height:29px;
	
}
#t-image{
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid black;
}
.middle{
	
	
}
.t31{
	background-color:green;
}
.t3{
	background-color:blue;
}

.border{
	border:1px solid rgb(0,0,0);
}
.colspan{
	column-span:6;
}
.center{
	text-align:center;
}
.t{
	text-align:right;
}

#table-2{
	width:100%;
	height:100px;
}
