#cap
{
	text-align:center;
}
#t11,#t121,#t31
{
	text-align:left;
}
#t12,#t22,#t32
{
	text-align:center;
}
#t13,#t23,#t33
{
	text-align:right;
}
.middle
{
	width:600px;
}
#table-2{
	height:250px;
}
#upper
{
	height:10px;
	background-color:green;
}
#t-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lower
{
	height:10px;
	background-color:blue;
}

#table-3{
	height:200px;
}